@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: #F4F4F4;
  color: #333;
}
body {
  padding: 0;
  margin: 0;
}

mark {
  background: #F4F4F4;
  font-style: normal;
}